<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html>
   <head>
      <meta charset="UTF-8">
      <title>My First CRUD App</title>
      <link rel="stylesheet" href="app.css">
   </head>
   <body>
   	<header>
   		<h1>TODO List</h1>
   	</header>
      

      <div id="todo-sheet">
         <input id="new-todo"  placeholder="Enter TODO">
         <button id="new-todo-save">Add to list</button>
         <span class="error-message"></span>
         <ul class="todos">
         </ul>
      </div>

      <div id="footer">
       <footer>&copy2018 CRUDDY App</footer>
     </div>

      <script type="text/template" id="todo-template">
         <span class="todo-position"><%- position %></span>.
         <input class="todo-done" type="checkbox" <%= done ? checked="checked" : '' %> title="Completed" />
         <span class="todo-title <%= done ? 'todo-stroked' : '' %>" contenteditable="true"><%- title %></span>
         <button class="todo-delete" title="Delete">X</button>
      </script>

      <script src="jquery.js"></script>
      <script src="underscore.js"></script>
      <script src="backbone.js"></script>
      <script src="backbone.localStorage.min.js"></script>
      <script src="app.js"></script>
   </body>
</html>